# Notebooks para preparar los datos para entrenar al modelo.

In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('../database.db')

In [3]:
def query(sql):
    try:
        return pd.read_sql_query(sql, conn)
    except Exception as e:
        raise ValueError("❌ No se encuentra la tabla en la base de datos.") from e

In [4]:
tablas = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';", conn)
print(tablas)


# Obtener columnas de la tabla (otra opción)
info = pd.read_sql_query("PRAGMA table_info(mi_tabla);", conn)
print(info)  # tiene name, type, notnull, pk, etc.

            name
0          clima
1     calendario
2     provincias
3    localidades
4  departamentos
5     estaciones
6      contagios
Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

In [9]:
tablas

            name
0          clima
1     calendario
2     provincias
3    localidades
4  departamentos
5     estaciones
6      contagios

In [17]:
for tabla in tablas.name:
    print('Tabla:', tabla)
    print(pd.read_sql_query(f'SELECT * FROM {tabla} LIMIT 10', con=conn))
    print('')

Tabla: clima
                        fecha id_estacion  precipitacion_pluviometrica  \
0  2018-01-01 00:00:00.000000     A872801                     0.000000
1  2018-01-02 00:00:00.000000     A872801                     0.000000
2  2018-01-03 00:00:00.000000     A872801                     0.000000
3  2018-01-04 00:00:00.000000     A872801                     0.000000
4  2018-01-05 00:00:00.000000     A872801                     0.589565
5  2018-01-06 00:00:00.000000     A872801                     0.000000
6  2018-01-07 00:00:00.000000     A872801                     0.000000
7  2018-01-08 00:00:00.000000     A872801                     0.000000
8  2018-01-09 00:00:00.000000     A872801                     0.000000
9  2018-01-10 00:00:00.000000     A872801                     0.000000

   temperatura_minima  temperatura_maxima  temperatura_media  humedad_media  \
0                15.9                29.4           22.30069           52.0
1                14.1                32.2           23.74722           44.0
2                12.6                33.5           25.04375           38.0
3                17.1                36.4           27.37709           43.0
4                17.9                28.7           22.27430           91.0
5                12.1                27.5           20.76528           40.0
6                15.6                32.5           23.65764           44.0
7                17.8                33.9           26.05764           36.0
8                20.3                33.9           26.82639           45.0
9                23.6                35.9           28.88194           58.0

   rocio_medio  tesion_vapor_media  radiacion_global  heliofania_efectiva  \
0     12.40972            14.57236          27.55428            11.318030
1     12.22327            14.48487          16.85220             5.099066
2     10.18355            12.56902          18.67926             6.167767
3     15.27765            17.47291          16.98126             5.186137
4     17.58082            20.23586           2.17254             8.526174
5     10.10269            12.56994          28.42842            11.866210
6     11.11564            13.36892          28.09620            11.683060
7     13.24320            15.33703          28.08228            11.686070
8     14.43365            16.66493          28.68048            12.046750
9     19.66387            22.92191          26.20985            10.618740

   heliofania_relativa
0                 79.0
1                 35.0
2                 43.0
3                 36.0
4                 59.5
5                 83.0
6                 82.0
7                 82.0
8                 84.0
9                 74.0

Tabla: calendario
        fecha  anio  mes  dia  trimestre  semestre  quincena  semanaMes  \
0  1960-01-01  1960    1    1          1         1         1          1
1  1960-01-02  1960    1    2          1         1         1          1
2  1960-01-03  1960    1    3          1         1         1          1
3  1960-01-04  1960    1    4          1         1         1          1
4  1960-01-05  1960    1    5          1         1         1          1
5  1960-01-06  1960    1    6          1         1         1          1
6  1960-01-07  1960    1    7          1         1         1          1
7  1960-01-08  1960    1    8          1         1         1          2
8  1960-01-09  1960    1    9          1         1         1          2
9  1960-01-10  1960    1   10          1         1         1          2

   semana  diaSemana  diaNumeroSemana  bisiesto
0      53    Viernes                4         1
1      53     Sábado                5         1
2      53    Domingo                6         1
3       1      Lunes                0         1
4       1     Martes                1         1
5       1  Miércoles                2         1
6       1     Jueves                3         1
7       1    Viernes                4         1
8       1     Sábado                5         1
9       1    Domingo                6         1

Tabla: provincias
      provincia  id_provincia
0  BUENOS AIRES             0
1          CABA             1
2     CATAMARCA             2
3         CHACO             3
4        CHUBUT             4
5    CORRIENTES             5
6       CÓRDOBA             6
7    ENTRE RÍOS             7
8       FORMOSA             8
9         JUJUY             9

Tabla: localidades
          localidad     provincia  latitud  longitud  id_localidad  \
0        25 DE MAYO  BUENOS AIRES   -35.48    -60.13             0
1         ARRECIFES  BUENOS AIRES   -34.05    -60.14             1
2          BALCARCE  BUENOS AIRES   -37.76    -58.30             2
3         BORDENAVE  BUENOS AIRES   -37.75    -63.08             3
4         CHASCOMUS  BUENOS AIRES   -35.74    -58.05             4
5   CORONEL DORREGO  BUENOS AIRES   -38.67    -60.93             5
6    CORONEL SUAREZ  BUENOS AIRES   -37.29    -62.04             6
7             FERRÉ  BUENOS AIRES   -34.10    -61.14             7
8   GENERAL LINCOLN  BUENOS AIRES   -34.84    -61.60             8
9  GENERAL VILLEGAS  BUENOS AIRES   -34.92    -62.73             9

   id_provincia
0             0
1             0
2             0
3             0
4             0
5             0
6             0
7             0
8             0
9             0

Tabla: departamentos
  id_departamento            departamento    latitud   longitud  id_provincia  \
0           82105            SAN JERONIMO -32.239935 -61.231266            20
1           38112                    YAVI -22.329812 -65.825982             9
2           62035                  EL CUY -39.866718 -68.703438            14
3            6623               PERGAMINO -33.589305 -60.772765             0
4            6868            VILLA GESELL -37.336673 -57.032501             0
5            6343             GENERAL PAZ -35.451906 -58.269542             0
6           42007                 ATREUCO -37.126296 -63.829211            10
7           62091              25 DE MAYO -41.512714 -69.517356            15
8           70077                  RAWSON -31.649200 -68.501500            17
9            6315  GENERAL JUAN MADARIAGA -37.024628 -56.956074             0

   id_localidad
0           128
1            78
2           102
3            14
4            11
5             4
6            82
7           107
8           113
9            11

Tabla: estaciones
   id_estacion id_interno                          nombre  latitud  longitud  \
0          413    A872872      25 DE MAYO - EEA PERGAMINO   -35.48    -60.13
1          516    A872923     ABRA PAMPA - EEA ABRA PAMPA   -22.80    -65.83
2          236    A872814         ALFONSO - EEA PERGAMINO   -33.91    -60.84
3          393    A872885       ANDALGALA - EEA CATAMARCA   -27.61    -66.33
4          403    A872912      ANDRESITO - EEA MONTECARLO   -25.62    -54.07
5          233    A872823              ANGUIL -EEA ANGUIL   -36.54    -63.99
6          468    A872838           APARICIO - EEA BARROW   -38.67    -60.93
7          237    A872820       ARRECIFES - EEA PERGAMINO   -34.05    -60.14
8          404    A872913  B DE IRIGOYEN - EEA MONTECARLO   -26.28    -53.67
9          242    A872824         BALCARCE - EEA BALCARCE   -37.76    -58.30

   id_provincia  id_localidad id_departamento
0             0             0            6854
1             9            78           38112
2             0            14            6623
3             2            30           46119
4            13            95           54049
5            10            82           42007
6             0             5            6189
7             0             1            6686
8            13            96           54112
9             0             2            6476

Tabla: contagios
   id_uta departamento     provincia   ano  semanas_epidemiologicas  \
0    2003     COMUNA 3  BUENOS AIRES  2018                     15.0
1    2004     COMUNA 4  BUENOS AIRES  2018                      6.0
2    6091  BERAZATEGUI  BUENOS AIRES  2018                     11.0
3    6091  BERAZATEGUI  BUENOS AIRES  2018                     14.0
4    6091  BERAZATEGUI  BUENOS AIRES  2018                     19.0
5    6091  BERAZATEGUI  BUENOS AIRES  2018                     21.0
6    6427   LA MATANZA  BUENOS AIRES  2018                     12.0
7    6427   LA MATANZA  BUENOS AIRES  2018                     16.0
8    6441     LA PLATA  BUENOS AIRES  2018                     14.0
9   50028   GUAYMALLEN       MENDOZA  2018                     23.0

   grupo_edad_id     grupo_edad_desc  cantidad_casos  poblacion  id_provincia
0              6     DE 15 A 19 ANOS             1.0     192945             0
1              6     DE 15 A 19 ANOS             1.0     239279             0
2              7     DE 20 A 24 ANOS             1.0     358262             0
3              9     DE 35 A 44 ANOS             2.0     358262             0
4             11  MAYORES DE 65 ANOS             1.0     358262             0
5              9     DE 35 A 44 ANOS             1.0     358262             0
6              6     DE 15 A 19 ANOS             1.0    2185597             0
7              6     DE 15 A 19 ANOS             1.0    2185597             0
8             11  MAYORES DE 65 ANOS             1.0     703504             0
9             10     DE 45 A 65 ANOS             1.0     324272            12

In [23]:
with open('../query.sql', 'r', encoding='utf-8') as f:
    sql = f.read()

In [24]:
sql

'WITH\n-- 0) Calendario semanal: lunes como inicio de semana\ncal_sem AS (\n  SELECT\n    fecha,\n    anio,\n    semana,\n    diaNumeroSemana,\n    DATE(fecha) AS semana_inicio\n  FROM calendario\n  WHERE diaNumeroSemana = 0          -- Lunes\n),\n\n-- 1) Clima diario normalizado\nclima_d AS (\n  SELECT\n    DATE(c.fecha)                       AS fecha,\n    c.id_estacion                       AS id_interno,   -- A872xxx\n    c.precipitacion_pluviometrica       AS precip,\n    c.temperatura_media                 AS t_media,\n    c.humedad_media                     AS h_media,\n    c.temperatura_minima                AS t_min,\n    c.temperatura_maxima                AS t_max\n  FROM clima c\n),\n\n-- 2) Mapeo estación -> departamento\nest_dep AS (\n  SELECT\n    e.id_interno,                       -- A872xxx\n    e.id_estacion,                      -- id numérico si lo necesitás\n    e.id_departamento\n  FROM estaciones e\n),\n\n-- 3) Clima semanal por departamento\nclima_sem AS (\n  SELECT\n    cs.semana_inicio,\n    ed.id_departamento,\n    AVG(cd.t_media)  AS t_media_sem,\n    AVG(cd.h_media)  AS h_media_sem,\n    AVG(cd.t_min)    AS t_min_sem,\n    AVG(cd.t_max)    AS t_max_sem,\n    SUM(cd.precip)   AS precip_sem\n  FROM clima_d cd\n  JOIN cal_sem cs   ON cd.fecha = cs.fecha\n  JOIN est_dep ed   ON ed.id_interno = cd.id_interno\n  GROUP BY cs.semana_inicio, ed.id_departamento\n),\n\n-- 4) Dim de departamentos\ndep_dim AS (\n  SELECT\n    d.id_departamento,\n    UPPER(TRIM(d.departamento)) AS dep_name_u,\n    d.id_provincia\n  FROM departamentos d\n),\n\n-- 5) Contagios semanales (por texto + provincia)\ncontagios_sem_raw AS (\n  SELECT\n    CAST(co.ano AS INT)                                 AS anio,\n    CAST(co.semanas_epidemiologicas AS INT)             AS semana,\n    UPPER(TRIM(co.departamento))                        AS dep_name_u,\n    co.id_provincia,\n    SUM(COALESCE(co.cantidad_casos,0))                  AS y_cont_sem\n  FROM contagios co\n  GROUP BY anio, semana, dep_name_u, id_provincia\n),\n\n-- 6) Índice (anio, semana) -> semana_inicio (desde cal_sem)  ⬅️ AQUÍ EL FIX\nsem_idx AS (\n  SELECT DISTINCT\n    anio,\n    semana,\n    semana_inicio\n  FROM cal_sem\n),\n\n-- 7) Labels con id_departamento\nlabel_sem AS (\n  SELECT\n    si.semana_inicio,\n    dd.id_departamento,\n    csr.y_cont_sem AS y\n  FROM contagios_sem_raw csr\n  JOIN dep_dim dd\n       ON dd.dep_name_u   = csr.dep_name_u\n      AND dd.id_provincia = csr.id_provincia\n  JOIN sem_idx si\n       ON si.anio   = csr.anio\n      AND si.semana = csr.semana\n),\n\n-- 8) Universo base\nbase AS (\n  SELECT DISTINCT\n    ls.semana_inicio,\n    ls.id_departamento\n  FROM label_sem ls\n),\n\n-- 9) Features climáticas semana t\nfeat_sem AS (\n  SELECT\n    b.semana_inicio,\n    b.id_departamento,\n    cs.t_media_sem,\n    cs.h_media_sem,\n    cs.t_min_sem,\n    cs.t_max_sem,\n    cs.precip_sem\n  FROM base b\n  LEFT JOIN clima_sem cs\n    ON cs.semana_inicio = b.semana_inicio\n   AND cs.id_departamento = b.id_departamento\n),\n\n-- 10) Lags/rolling sin fuga (hasta t-1)\nfeat_lags AS (\n  SELECT\n    f.*,\n    LAG(t_media_sem,1)  OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_t_media,\n    LAG(h_media_sem,1)  OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_h_media,\n    LAG(t_min_sem,1)    OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_t_min,\n    LAG(t_max_sem,1)    OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_t_max,\n    LAG(precip_sem,1)   OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_precip,\n    AVG(t_media_sem)    OVER (PARTITION BY id_departamento ORDER BY semana_inicio ROWS BETWEEN 3 PRECEDING AND 1 PRECEDING) AS roll4_t_media,\n    SUM(precip_sem)     OVER (PARTITION BY id_departamento ORDER BY semana_inicio ROWS BETWEEN 3 PRECEDING AND 1 PRECEDING) AS roll4_precip\n  FROM feat_sem f\n),\n\n-- 11) Lags del target\nlabel_lags AS (\n  SELECT\n    ls.*,\n    LAG(y,1) OVER (PARTITION BY id_departamento ORDER BY semana_inicio) AS lag1_y,\n    SUM(y)   OVER (PARTITION BY id_departamento ORDER BY semana_inicio ROWS BETWEEN 3 PRECEDING AND 1 PRECEDING) AS roll4_y\n  FROM label_sem ls\n)\n\n-- 12) Salida final\nSELECT\n  fl.semana_inicio,\n  fl.id_departamento,\n  fl.lag1_t_media,\n  fl.lag1_h_media,\n  fl.lag1_t_min,\n  fl.lag1_t_max,\n  fl.lag1_precip,\n  fl.roll4_t_media,\n  fl.roll4_precip,\n  ll.lag1_y,\n  ll.roll4_y,\n  ll.y AS y\nFROM feat_lags fl\nLEFT JOIN label_lags ll\n  ON ll.semana_inicio = fl.semana_inicio\n AND ll.id_departamento = fl.id_departamento\nWHERE fl.lag1_t_media IS NOT NULL\n  AND ll.lag1_y IS NOT NULL\n;\n'

In [25]:
pd.read_sql_query(sql, conn)

,semana_inicio,id_departamento,lag1_t_media,lag1_h_media,lag1_t_min,lag1_t_max,lag1_precip,roll4_t_media,roll4_precip,lag1_y,roll4_y,y
0,2020-04-27,14063,6.961538,82.346154,1.230769,12.692308,0.268413,6.961538,0.268413,1.0,1.0,1.0
1,2023-03-20,14063,28.150000,56.000000,19.800000,36.500000,0.000000,17.555769,0.268413,1.0,3.0,1.0
2,2023-03-27,14063,24.400000,78.000000,19.800000,29.000000,0.000000,26.275000,0.000000,1.0,3.0,1.0
3,2023-04-03,14063,20.700000,71.000000,12.800000,28.600000,0.000000,24.416667,0.000000,1.0,3.0,1.0
4,2023-04-10,14063,21.750000,74.000000,17.300000,26.200000,0.000000,22.283333,0.000000,1.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1180,2024-03-25,86168,28.279860,73.000000,23.400000,35.600000,0.037024,27.615740,0.037024,1.0,5.0,2.0
1181,2024-04-01,86168,26.412500,60.000000,18.900000,36.500000,0.000000,28.536343,0.037024,2.0,6.0,6.0
1182,2024-04-08,86168,19.375700,86.000000,17.200000,23.400000,0.119363,24.689353,0.156388,6.0,9.0,3.0
1183,2024-04-15,86168,17.430550,84.000000,11.400000,25.200000,0.000000,21.072917,0.119363,3.0,11.0,1.0
1184,2024-04-29,86168,17.265396,77.000000,12.040000,24.100000,0.056470,18.023882,0.175833,1.0,10.0,1.0