In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('../data/datos-todas-estaciones.parquet')
df.sample(4)

,Fecha,Temperatura_Abrigo_150cm,Temperatura_Abrigo_150cm_Maxima,Temperatura_Abrigo_150cm_Minima,Temperatura_Intemperie_5cm_Minima,Temperatura_Intemperie_50cm_Minima,Temperatura_Suelo_5cm_Media,Temperatura_Suelo_10cm_Media,Temperatura_Inte_5cm,Temperatura_Intemperie_150cm_Minima,...,Horas_Frio,Unidades_Frio,id_estacion,Granizo,Nieve,Radiacion_Neta,Evaporacion_Tanque,Evapotranspiracion_Potencial,Profundidad_Napa,Unidad_Frio
758708,2013-01-01 00:00:00.0,12.85,21.5,4.2,1.3,2.5,NaN,NaN,NaN,NaN,...,3.884393,NaN,NH0446,0.0,0.0,NaN,NaN,4.100000,NaN,NaN
636249,2021-02-08 00:00:00.0,25.20,34.2,16.2,13.0,NaN,25.966667,25.800001,NaN,NaN,...,NaN,NaN,NH0416,0.0,0.0,14.018717,NaN,5.226131,NaN,NaN
787851,1987-11-16 00:00:00.0,24.85,31.2,18.5,14.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NH0460,0.0,0.0,NaN,NaN,5.800000,NaN,NaN
691067,1997-11-29 00:00:00.0,25.35,31.0,19.7,17.3,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NH0437,NaN,NaN,NaN,NaN,5.900000,NaN,NaN

In [7]:
ids_estaciones = df.id_estacion.unique()

In [22]:
def normalizar_nombres_columnas(df):
    return [columna.lower().strip() for columna in df.columns]

def formato_fecha(array):
    return pd.to_datetime(array)

In [23]:
df.fecha = formato_fecha(df.fecha)

In [25]:
id = ids_estaciones[5]

df.columns = normalizar_nombres_columnas(df)

mini = df.groupby('id_estacion').get_group(id).sort_values('fecha')

In [29]:
mini[(mini.precipitacion_cronologica.isna()) & (mini.precipitacion_cronologica.shift(1).notnull())]

,fecha,temperatura_abrigo_150cm,temperatura_abrigo_150cm_maxima,temperatura_abrigo_150cm_minima,temperatura_intemperie_5cm_minima,temperatura_intemperie_50cm_minima,temperatura_suelo_5cm_media,temperatura_suelo_10cm_media,temperatura_inte_5cm,temperatura_intemperie_150cm_minima,...,horas_frio,unidades_frio,id_estacion,granizo,nieve,radiacion_neta,evaporacion_tanque,evapotranspiracion_potencial,profundidad_napa,unidad_frio
18302,2014-12-09,24.459570,32.1,16.5,NaN,NaN,NaN,25.20,NaN,NaN,...,0.0,-22.493030,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19007,2016-11-13,19.009030,23.5,15.5,NaN,NaN,NaN,19.70,NaN,NaN,...,0.0,-15.604020,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19066,2017-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19155,2017-04-10,19.100000,22.3,13.1,NaN,NaN,NaN,20.65,NaN,NaN,...,0.0,-14.857010,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19163,2017-04-18,14.897910,24.3,8.4,NaN,NaN,NaN,16.60,NaN,NaN,...,0.0,-6.059000,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21493,2024-04-26,15.704860,19.3,11.7,NaN,NaN,NaN,15.75,NaN,NaN,...,0.0,-7.387002,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21502,2024-05-05,17.618050,21.7,15.4,NaN,NaN,NaN,14.65,NaN,NaN,...,0.0,-16.434020,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21526,2024-05-29,11.220830,16.8,6.1,NaN,NaN,NaN,11.15,NaN,NaN,...,NaN,7.387006,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21552,2024-06-24,5.271429,NaN,NaN,NaN,NaN,NaN,11.65,NaN,NaN,...,NaN,16.434020,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21846,2025-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,A872806,NaN,NaN,NaN,NaN,NaN,NaN,NaN